.products-page-container {
  height: 93vh;
  background-color: pink;
}

.filters {
  height: 93vh;
  background-color: red;
  width: 20%;
}

.products-list {
  height: 93vh;
  background-color: green;
  width: 80%;
  float: right;
}

.card {
  max-width: 99.9%;
  height: 200px;
}

.card h2 {
  text-align: left;
}

.img-fluid {
  width: 200px;
  height: 200px;
  padding: 3%;
}

.cart-button {
  border-radius: 20px;
}

.progress {
  max-width: 100px;
}
